:root {
  --font-family: 'Montserrat', sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.input-form {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  background: #fff;
  padding: 16px 8px;
}

.input-form:hover {
  border: 1px solid #000;
}

.input-form:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
